.profile {
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: NexaRegular;
    color: white;
}

.profile .user-info, .user-posts {
    background-color: #001247;
    margin: 0 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.profile .user-info {
    height: calc(90% - 40px);
    width: calc(30% - 40px);
    padding: 20px;
    overflow-y: auto;
}

.profile .user-posts {
    /* background-color: transparent; */
    height: calc(90%);
    width: calc(60% - 40px);
    overflow: hidden;
    /* border: 1px solid lightblue; */
}

.profile .user-info .box {
    margin: 8px;
    padding: 6px;
    border-radius: 5px;
    border: 0.5px solid white;
}

.profile .label {
    font-size: 12px;
    color: #fffb;
    margin-bottom: 2px;
}

.profile .socials {
    display: flex;
    margin: 8px auto;
}

.profile .socials a {
    text-decoration: none;
    font-size: 20px;
    margin: 0 5px;
    color: lightgreen;
}

.profile .s-icon {
    border: 1px solid lightgreen;
    padding: 4px;
    border-radius: 3px;
}

.profile-nav {
    display: flex;
    border-bottom: 1px solid lightblue;
}

.profile-nav div {
    width: 50%;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
}

/* .profile-nav div:nth-child(1) {
    border-right: 1px solid white;
} */

.profile-nav .active {
    background-color: lightblue;
    color: #001247;
}

.mapping {
    width: calc(100% - 20px);
    height: 100%;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#load {
    font-size: 28px;
    align-items: center;
}

.mapping .p-card {
    background-color: lightsteelblue;
    color: #001247;
    width: 38%;
    height: fit-content;
    min-width: 240px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.mapping #api {
    width: 22%;
    min-width: 200px;
}

.mapping .p-card .proj-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
    letter-spacing: 0.5px;
}

.mapping .p-card hr {
    color: #0005;
}

.mapping .p-card .proj-tech .tname {
    margin: 0 3px;
    background-color: seagreen;
    border-radius: 3px;
    padding: 3px 6px;
}

.mapping .p-card .proj-tech {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: white;
    padding: 5px 0;
}

.mapping .p-card .proj-desc {
    letter-spacing: 0.6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    font-size: 16px;
    margin: 8px 0;
}

.mapping .p-card .proj-ide, .proj-live, .proj-cat {
    margin: 4px 0;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: normal;
    font-family: NexaRegular;
}

.mapping .p-card span {
    color: crimson;
}

.mapping .p-card .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mapping .p-card .links {
    display: flex;
}

.mapping .p-card .links a {
    margin-right: 10px;
    text-decoration: none;
    text-underline-offset: 3px;
    color: green;
}

.mapping .p-card .links a:hover {
    text-decoration: underline;
}

.mapping .p-card .delete {
    font-size: 22px;
    cursor: pointer;
    color: #cc1240;
    transition: 0.15s all;
}

.mapping .p-card .delete:hover {
    color: orangered;
}